.picture-container {
    width: 45vw;
    height: 100%;
    background: #36395a;


    @media only screen and (max-width: 810px) {
        width: 100vw;
        height: 35vh;
    }
}

// // @media only screen and (max-width: 600) {
// //     picture-container {
// //         width: 0vw;
// //         height: 0%;
// //         background: rgb(103, 42, 42);
    
// //     }
// }