.description-container {
  position: absolute;
  left: calc(60vw - 18vw);
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  & > .text-box {
    height: auto;
    // overflow: scroll;
    padding: 10px;
    width: 80%;
    text-align: left;
    // border: 2px solid #272c34;
    border-radius: 8px;
    & > p {
      line-height: 1.8;
    }
  }

  & > .social-media-btns {
    width: 90%;
    position: relative;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }

  @media only screen and (max-width: 600px) {
    width: 100vw;
    left: 0;
    top: 40vh;
    // transform: translate(0, -50%);
  }
}
